.loader {
  min-height: 60vh;
  display: flex;
  justify-content: center;
}

.loader img {
  animation: spin 2s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}