dl.dataset {

  dt .predicate {
    @include theme('color', 'color-tertiary--lighten-1', 'dataset-color');

    font-weight: normal;
  }

  dd {
    white-space: pre-wrap;

    a.uri {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;

      &::after {
        content: none;
      }
    }
  }
}