:root {
  @include desktop {
    @include set-layout('width-10', 'offset-1');
  }
}

#yasgui {
  font-size: .8rem;

  @include desktop {
    @include set-layout('width-10', 'offset-1');
  }

  a {
    font-weight: normal;
    &::after {
      content: none;
    }
  }
}

#yasqe {
  margin-bottom: 2rem;
}

#yasr {
  overflow: auto;

  .yasr_header {
    > button:last-of-type {
      display: none;
    }
  }
}
